# General
*.class
*.log
*.swp
*.DS_Store
*.idea/
*.iml
*.vscode/
*.classpath
*.project
*.settings/
target/
bin/
out/

# Maven
.mvn/
**/target/
!src/main/resources/**/static/
!src/main/resources/**/templates/
dependency-reduced-pom.xml
releases/
dependency/
buildNumber.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea/
.idea_modules/
*.module
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml

# VS Code
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/
target/
bin/
.tmp/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*~.nib
*.pid
*.seed
*.orig
*.rej
*.sublime-workspace

# System Files
Thumbs.db
.DS_Store
*.stackdump
*.vscode/
